* {
    box-sizing: border-box;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Open sans', sans-serif;
    color: white;
}

.wrapper {
    max-width: auto;
    padding: 55px, 80px, 40px, 80px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}
.header > img {
    max-width: 200px;
}

.container {
    margin-bottom: 28px;
    display: flex;
}

.container .image {
    max-width: 100%;
    margin-right: 50px;
    flex-basis: 700px;
}
.container .image > img {
    max-width: 100%;
}
.container .description {
    flex-basis: 515px;
}
.container .description > h2 {
    margin-top: 48px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 3.5rem;
}
.container .description > p {
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
}
.container .description .registration {
    display: block;
    background-color: white;
    border: transparent;
    min-width: 200px;
    padding: 18px;
    border-radius: 40px;
    box-shadow: 5px, 5px, 10px, black;
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.icons {
    display: flex;
    justify-content: end;
}
.icons .tab {
    width: 40px;
    height: 40px;
    border: 1.5px, solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

@media only screen and (max-device-width: 375px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        display: flex;
        background-position: center;
        justify-content: flex;
        align-self: center;
        font-family: 'Open sans', sans-serif;
        color: white;
    }

    .wrapper {
        padding: 35px, 35px, 50px, 35px;
        width: auto;
    }

    .header {
        max-width: 0;
        min-width: 125px;
        margin-bottom: 60px;
    }

    .container {
        flex-direction: column;
    }
    .container image {
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .container .description > h2 {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 40px;
    }
    .container .description > p {
        max-width: 100%;
    }
    .container .description .registration {
        min-width: 220px;
        box-shadow: 2px, 3px, 6px, black;
        padding: 14px;
        font-size: 15px;
    }
    footer {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}